.primary{
    color:orange;
}

  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .Cart {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 320px;
  }
  
  .CartItem {
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 12px;
  }
  
  .CartItem__btn {
    background: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    height: 24px;
    padding: 0;
    width: 24px;
  }
  
  .CartItem__btn:hover {
    background: orange;
    color: white;
  }
  
  .CartItem__input {
    height: 24px;
    margin: 0 4px;
    max-width: 36px;
    padding: 0;
    text-align: center;
  }
  
  .Cart__total {
    display: flex;
    justify-content: flex-end;
  }
  
  .Cart__total-label {
    font-size: 14px;
    padding: 8px;
    text-align: center;
  }
  